<div class="well hero-mulled">
  <div class="panel section-1">
    <div class="page-width container-mulled">
      <h2>
        Treat your senses to the sweet aroma, the spiced flavour and the warm textures of a Mulled Beverage. Experience this delicious drink with friends or family today.
      </h2>
      <div class="product-hero">
        <img src="https://cdn.shopify.com/s/files/1/0659/6080/4509/files/Simple_Doypack_Mockup_1.png" width="auto" height="auto">    
        <img src="https://cdn.shopify.com/s/files/1/0659/6080/4509/files/Simple_Doypack_Mockup_2.png" width="auto" height="auto">
      </div>
      <button class="btn-mulled">Shop</button>
    </div>
    <div class="animate-img">
      <img src="https://cdn.shopify.com/s/files/1/0659/6080/4509/files/Layer_13.png" width="auto" height="auto" class="bg-top-left">
      <img src="https://cdn.shopify.com/s/files/1/0659/6080/4509/files/Group_18_1.png" width="auto" height="auto" class="bg-product">
      <a href="#bg-animate"><img src="https://cdn.shopify.com/s/files/1/0659/6080/4509/files/Arrow.svg" width="auto" height="auto" class="arrow"></a>
    </div>
  </div>
  <div class="panel section-2">
    <div class="bg-animate" id="bg-animate">
      <img src="https://cdn.shopify.com/s/files/1/0659/6080/4509/files/pouder1_4x_1.png" width="auto" height="auto" class="bg-animate-1">
      <img src="https://cdn.shopify.com/s/files/1/0659/6080/4509/files/Layer_6.png" width="auto" height="auto" class="bg-animate-2">
      <img src="https://cdn.shopify.com/s/files/1/0659/6080/4509/files/Layer_4.png" width="auto" height="auto" class="bg-animate-3">      
      <img src="https://cdn.shopify.com/s/files/1/0659/6080/4509/files/Layer_5.png" width="auto" height="auto" class="bg-animate-4">           
      <img src="https://cdn.shopify.com/s/files/1/0659/6080/4509/files/Layer_7.png" width="auto" height="auto" class="bg-animate-5">
      <!-- <img src="https://cdn.shopify.com/s/files/1/0659/6080/4509/files/Spiced_Bag_Open_v2_PNG_1.png" width="auto" height="auto" class="bag-open"> -->
      <img src="https://cdn.shopify.com/s/files/1/0659/6080/4509/files/Layer_3.png" width="auto" height="auto" class="bg-animate-6">
      <img src="https://cdn.shopify.com/s/files/1/0659/6080/4509/files/Layer_1.png" width="auto" height="auto" class="bg-animate-7">      
      <img src="https://cdn.shopify.com/s/files/1/0659/6080/4509/files/Layer_8.png" width="auto" height="auto" class="bg-animate-9">
      <img src="https://cdn.shopify.com/s/files/1/0659/6080/4509/files/Layer_2.png" width="auto" height="auto" class="bg-animate-8">
    </div>
  </div> 
      <img src="https://cdn.shopify.com/s/files/1/0659/6080/4509/files/Simple_Doypack_Mockup_1_1.png" width="auto" height="auto" class="img-product-1">
</div>


<script>
// JavaScript
var lastScrollPosition = 0;

window.addEventListener('scroll', function() {
    var scrollPosition = window.scrollY;
    var imgProduct1 = document.querySelector('.img-product-1');
    var bagOpen = document.querySelector('.bag-open');
    var bgAnimate1 = document.querySelector('.bg-animate-1');

    if (scrollPosition < lastScrollPosition) {
        // Page is scrolling up
        imgProduct1.style.transform = `translateY(${scrollPosition}px) rotate(0deg) translateX(0)`;
        imgProduct1.style.left = '';
    } else {
        // Page is scrolling down
        imgProduct1.style.transform = `translateY(${scrollPosition}px) rotate(-8deg) translateX(-20vw)`;
        imgProduct1.style.left = '50%';
    }


    if (scrollPosition > lastScrollPosition ) {
        // Page is scrolling down
        bgAnimate1.style.transform = 'scale(1)';
    } else {
        // Page is scrolling up
    }


    if (scrollPosition > lastScrollPosition) {
        // Page is scrolling down
        document.querySelector('img.bg-animate-2').style.cssText = 'left: -35rem; bottom: -35rem; transform: scale(1) ';
        document.querySelector('img.bg-animate-3').style.cssText = 'left: -55rem; transform: scale(1)';
        document.querySelector('img.bg-animate-4').style.cssText = 'left: -40rem; bottom: 38rem; transform: scale(1)';
        document.querySelector('img.bg-animate-5').style.cssText = 'left: -35rem; bottom: 55rem; transform: scale(1)';
        document.querySelector('img.bg-animate-6').style.cssText = 'right: -35rem; bottom: 30rem; transform: scale(1)';
        document.querySelector('img.bg-animate-7').style.cssText = 'right: -27rem; bottom: 45rem; transform: scale(1)';
        document.querySelector('img.bg-animate-8').style.cssText = 'right: -35rem; bottom: -10rem; transform: scale(1)';
        document.querySelector('img.bg-animate-9').style.cssText = 'right: -25rem; bottom: -35rem; transform: scale(1)';
    } else {
        // Page is scrolling up
    }    

    // Update the last scroll position
    lastScrollPosition = scrollPosition;
});

document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault();

        var target = document.querySelector(this.getAttribute('href'));
        var targetPosition = target.getBoundingClientRect().top;
        var startPosition = window.pageYOffset;
        var distance = targetPosition;
        var duration = 1500; // Increase this value to slow down the scroll speed
        var start = null;

        function step(timestamp) {
            if (!start) start = timestamp;
            var progress = timestamp - start;
            window.scrollTo(0, easeInOutQuad(progress, startPosition, distance, duration));
            if (progress < duration) window.requestAnimationFrame(step);
        }

        function easeInOutQuad(t, b, c, d) {
            t /= d/2;
            if (t < 1) return c/2*t*t + b;
            t--;
            return -c/2 * (t*(t-2) - 1) + b;
        }

        window.requestAnimationFrame(step);
    });
});



</script>
{% schema %}
  {
    "name": "Morph Mulled",
    "settings": [],
    "presets": [
    {
      "name": "Morph Mulled"
    }
  ]
  }
{% endschema %}